<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Cadastro</ion-title>
        <ion-buttons slot="start">
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-item>
        <ion-label position="floating">Placa ou Renavam</ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Hodômetro atual</ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Hodômetro do último Check-up</ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Hodômetro da última troca de óleo</ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-button color="primary" shape="round" size="large">
        <ion-tab-button tab="tabControleVeiculoApi">
            <ion-icon name="save-outline"></ion-icon>
            <ion-label>Salvar Veiculo</ion-label>
        </ion-tab-button>
    </ion-button>
</ion-content>