<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Veiculo</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-icon size="large" color="danger" name="remove-circle" (click)="increment()" class="btn-meais"></ion-icon>
        <ion-item>
            <ion-avatar slot="end">
                <img src="../../assets/icon/car.gif">
            </ion-avatar>
            <ion-label class="ion-text-wrap">
                <ion-text color="dark">RENAULT </ion-text>
                <ion-text color="dark">  SANDERO </ion-text>
                <ion-text color="dark"> 2020</ion-text>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-text ><h5>Odômetro:</h5></ion-text>
            <ion-note slot="end" color="primary">2222222</ion-note>
        </ion-item>
        <ion-item>
            <ion-text ><h5>Última troca de óleo:</h5></ion-text>
            <ion-note slot="end" color="primary">2222222</ion-note>
        </ion-item>
        <ion-item>
            <ion-text ><h5>Óleo recomendado:</h5></ion-text>
            <ion-note slot="end" color="primary">Elf 10w40</ion-note>
        </ion-item>
        <ion-item>
            <ion-text ><h5>Último check-up:</h5></ion-text>
            <ion-note slot="end" color="primary">2222222</ion-note>
        </ion-item>
        <ion-button color="primary" class="btn" fill="outline" expand="block" href="/cadastro-veiculo">
            <ion-label>Atualizar</ion-label>
    </ion-button>
    </ion-card>
    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button href="/cadastro-veiculo" size="large"><ion-icon name="add"></ion-icon></ion-fab-button>
    </ion-fab>
    <app-contador *ngFor="let x of Veiculos" Quantidade={{x}}></app-contador>
</ion-content>


