<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Veiculo</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-item>
            <ion-avatar slot="end">
                <img src="">
            </ion-avatar>

            <ion-label class="ion-text-wrap">
                <ion-text color="dark">
                    <h3>Renault Sandero</h3>
                </ion-text>
                <p>CARRO</p>
            </ion-label>
        </ion-item>

        <ion-card-content>
            Mussum Ipsum, cacilds vidis litro abertis. Atirei o pau no gatis, per gatis num morreus. Quem num gosta di mim que vai caçá sua turmis! Mauris nec dolor in eros commodo tempor.
        </ion-card-content>

        <ion-card-content>
            <ion-button size="small" fill="outline" slot="end">Atualizar</ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>

<ion-content>
    <ion-tab-button tab="tabCadastro">
        <ion-icon name="car-outline"></ion-icon>
        <ion-label>+ Novo Veiculo</ion-label>
    </ion-tab-button>
</ion-content>