<ion-header>
    <ion-toolbar color="dark">
        <ion-title color="primary">
            <center>LOGIN</center>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <ion-item color="dark">
        <ion-label position="floating" color="primary">Email
        </ion-label>
        <ion-input [(ngModel)]="email" type="text" required></ion-input>
    </ion-item>

    <ion-item color="dark">
        <ion-label position="floating" color="primary">Senha</ion-label>
        <ion-input [(ngModel)]="password" type="text" required></ion-input>
    </ion-item>

    <ion-button color="primary" expand="block" fill="outline" [routerLink]="['/signup']">Entre</ion-button>

    <ion-item color="dark" class="ion-text-center">
        <ion-label color="primary">OU</ion-label>
    </ion-item>

    <ion-button color="primary" expand="block" fill="outline" [routerLink]="['/signup']">Crie sua conta</ion-button>
</ion-content>