<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="tabVeiculo">
            <ion-icon name="car-outline"></ion-icon>
            <ion-label>Veiculos</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tabTimeline">
            <ion-icon name="hourglass-outline"></ion-icon>
            <ion-label>Timeline</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tabAlertas">
            <ion-icon name="notifications-outline"></ion-icon>
            <ion-label>Alertas</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>